<!-- start custom head snippets -->

<!-- Font Mr. Dafoe for Landing Page -->
<link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">

<!-- Mathjax to show equations from Latex code -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
