*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-cache
.jekyll-metadata
.jekyll-cache
.netlify
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
package-lock.json
node_modules
npm-debug.log*
test
docs
vendor/bundle
