language: ruby
cache:
  bundler: true
  directories:
    - $TRAVIS_BUILD_DIR/tmp/.htmlproofer
before_install:
  - gem install bundler
gemfile: Gemfile
script:
  - bundle exec jekyll algolia
  - JEKYLL_ENV=production bundle exec jekyll build
  - bundle exec htmlproofer ./_site --disable-external --alt_ignore "/.*/" --allow_hash_href --http-status-ignore 999
branches:
  only:
    # Change this to gh-pages if you're deploying using the gh-pages branch
    - master
rvm:
 - 2.4.1

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

sudo: false # route your build to the container-based infrastructure for a faster build


deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  local_dir: _site
  # repo: luisspuerto/luisspuerto.net # in case I wanted to build my page in other repo
  target-branch: gh-pages
  on:
    branch: master
